#reportlist {
    width:90%;
	margin-left:auto;
	margin-right:auto;
	border-bottom: 1px solid #ddd;
    text-align: left;
}


#condition{
   border-bottom: 1px solid #ddd;
   padding: 20px 8px 0px;
   text-align: left;
}

.btn-primary{
    background-color: #397171;
    border: 1px solid #397171;
    color:  #fff;
    text-shadow: none;
}

.page-heade{
    background-color: #397171;
    border: 1px solid #397171;
}

.first{
    background-color: #397171;
    border: 1px solid #397171;
}

table, th, tr, td{
   border: 1px solid gray;
   text-align:center;
}

.pagination{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.first{
 height:50px;
 width : 100%;
}