{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="zyl">
  </head>

  <body>
    <title>新增用户体验测试脚本</title>
    <div class="first">
    </div>
    <div class="page-header">
      <h3>新增用户体验测试脚本</h3>
    </div>
    <form class="form-horizontal"  method="POST" action="/createuserexperiencetestscript/">{% csrf_token %}
      <div class="form-group">
        <div class="form-group">
            <label for="system" class="col-md-2 control-label">系统名称</label>
            <div class="col-md-10">
                <select name="system" id="system">
                    <option value="" selected>—— 系统 ——</option>
                    {% for system in systems %}
                        <option value={{system.name}}>{{system.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
      </div>
      <br></br>
      <div class="form-group">
        <label for="content" class="col-md-2 control-label">用户体验测试脚本</label>
        <div class="col-md-9">
            <textarea class="form-control" name="content" id="content" rows="12"></textarea>
        </div>
      </div>
      <br></br>
      <div class="form-group">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">完成</button>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" href="/home" role="button">返回主页</a>
        </div>
    </div>
  </form>


  </body>

  <link rel="stylesheet" type="text/css" href="{% static 'master/css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'master/css/my.css' %}"/>
  <script src= "{% static 'master/js/jquery-1.11.3.min.js' %}"></script>
  <script src= "{% static 'master/js/bootstrap.min.js' %}"></script>
</html>
