{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="author" content="zyl">
		<link rel="stylesheet" type="text/css" href="{% static 'master/css/bootstrap.min.css' %}"/> 
		<link rel="stylesheet" type="text/css" href="{% static 'master/css/bootstrap-theme.min.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'master/css/my.css' %}"/>
		
		<script src= "{% static 'master/js/jquery-1.11.3.min.js' %}"></script>
		<script src= "{% static 'master/js/bootstrap.min.js' %}"></script>
    </head>
	<body>
		<title>新增巡检用例</title>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container">
				<div id="navbar" class="navbar-collapse collapse">
				  <ul class="nav navbar-nav">
				    <li class="dropdown">
						<a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle">巡检计划 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/plans">巡检计划列表</a>
							</li>
							<li>
								<a href="/addplan">增加巡检计划</a>
							</li>							
						</ul>	
					</li>
				    <li class="dropdown">
						<a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle">巡检套件 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/testsuites">巡检套件列表</a>
							</li>
							<li>
								<a href="/addtestsuite">增加巡检套件</a>
							</li>							
						</ul>	
					</li>
				    <li class="dropdown">
						<a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle">巡检用例 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/testcases">巡检用例列表</a>
							</li>
							<li>
								<a href="/addtestcase">增加巡检用例</a>
							</li>							
						</ul>	
					</li>					
				  </ul>
				</div><!--/.nav-collapse -->
		    </div>
		</nav>
		<div class="first">
		</div>
		<div class="page-header">
			<h3>新增巡检用例</h3>
		</div>			
		<form class="form-horizontal"  method="POST" action="/createtestcase/">{% csrf_token %}
			<div class="form-group">
				<label for="name" class="col-md-2 control-label">巡检用例名称</label>
				<div class="col-md-9">
					<input type="text" name="name" id="name"/>
			    </div>
			</div>
			<div class="form-group">
				<label for="content" class="col-md-2 control-label">巡检用例</label>
				<div class="col-md-9">
					<textarea class="form-control" name="content" id="content" rows="10"></textarea>
			    </div>
			</div>
			<div class="form-group">
				<label for="description" class="col-md-2 control-label">巡检用例描述</label>
				<div class="col-md-9">
					<textarea class="form-control" name="description" id="description"></textarea>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<button type="submit" class="btn btn-primary">完成</button>
				</div>
			</div>
		</form>	
<!--
	{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
	{% endfor %}
-->
	
	</body>
</html>
