{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="author" content="zyl">
		<link rel="stylesheet" type="text/css" href="{% static 'master/css/bootstrap.min.css' %}"/> 
		<link rel="stylesheet" type="text/css" href="{% static 'master/css/bootstrap-theme.min.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'master/css/my.css' %}"/>
		
		<script src= "{% static 'master/js/jquery-1.11.3.min.js' %}"></script>
		<script src= "{% static 'master/js/bootstrap.min.js' %}"></script>
    </head>
	<body>
		<title>创建巡检套件</title>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container">
				<div id="navbar" class="navbar-collapse collapse">
				  <ul class="nav navbar-nav">
				    <li class="dropdown">
						<a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle">巡检计划 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/plans">巡检计划列表</a>
							</li>
							<li>
								<a href="/addplan">增加巡检计划</a>
							</li>							
						</ul>	
					</li>
				    <li class="dropdown">
						<a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle">巡检套件 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/testsuites">巡检套件列表</a>
							</li>
							<li>
								<a href="/addtestsuite">增加巡检套件</a>
							</li>							
						</ul>	
					</li>
				    <li class="dropdown">
						<a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle">巡检用例 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/testcases">巡检用例列表</a>
							</li>
							<li>
								<a href="/addtestcase">增加巡检用例</a>
							</li>							
						</ul>	
					</li>					
				  </ul>
				</div><!--/.nav-collapse -->
		    </div>
		</nav>
		<div class="first">
		</div>
		<div class="page-header">
			<h3>创建巡检套件</h3>
		</div>	
		<form class="form-horizontal"  method="POST" action="/createtestsuite/">{% csrf_token %}
			<div class="form-group">
				<label for="name" class="col-md-2 control-label">巡检套件名称</label>
				<div class="col-md-10">
					<input type="text" name="name" id="name"/>
			    </div>
			</div>
			<div class="form-group">
			    <label class="col-md-2 control-label">已选巡检用例</label>			
				<div class="col-md-3">
					<textarea class="form-control" name="testcases" id="testcases" rows="10"></textarea>
			    </div>
				<div class="col-md-2">
					<select name="testcase" id="testcase">
						<option value="" selected>—— 可选巡检用例 ——</option>
						{% for testcase in testcases %}	
						<option value={{testcase.name}} id={{testcase.name}} >{{testcase.name}}</option>
						{% endfor %}
					</select>
			    </div>
				<div class="col-md-2">
					<button class="btn btn-primary" type="button" onclick="addtestcase()">添加</button>
			    </div>				
			</div>
			<div class="form-group">
				<label for="description" class="col-md-2 control-label">巡检套件描述</label>
				<div class="col-md-10">
					<textarea class="form-control" name="description" id="description"></textarea>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<button type="submit" class="btn btn-primary">创建</button>
				</div>
			</div>
		</form>	

	{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
	{% endfor %}

<script type="text/javascript">
			//初始化巡检用例编号
			var test_case_order = 1;
			
			$( document ).ready( function() {
				//初始化巡检用例编号
				window.test_case_order = 1;	
				//清空已选择的巡检用例
				document.getElementById('testcases').value = ''
			});
			
			function addtestcase(){
			    var testcase = document.getElementById('testcase');
			    //如果是无效选择不处理
			    if (testcase.value == '')
				{
					return;
				}

				document.getElementById('testcases').value = document.getElementById('testcases').value + 
					window.test_case_order + ' ' + testcase.value + '\n';
				window.test_case_order += 1;
				//从下拉框中删除已选的巡检用例
				testcase.remove(testcase.selectedIndex);
			}
	    </script>
	
	</body>
</html>
