{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="author" content="zyl">
		<link rel="stylesheet" type="text/css" href="{% static 'master/css/bootstrap.min.css' %}"/> 
		<link rel="stylesheet" type="text/css" href="{% static 'master/css/bootstrap-theme.min.cs' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'master/css/cover.css' %}"/>
		
		<script src= "{% static 'master/js/jquery-1.11.3.min.js' %}"></script>
		<script src= "{% static 'master/js/bootstrap.min.js' %>"</script>
		<script src= "{% static 'master/js/moment.js' %}"></script>
		<script src= "{% static 'master/js/pikaday.js' %}"></script>
		<script src= "{% static 'master/js/distpicker.data.js' %}"></script>
		<script src= "{% static 'master/js/distpicker.js' %}"></script>
		
		<title>用户体验测试云服务系统</title>
    </head>
	
	<body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
<!--
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
-->
          <div class="inner cover">
            <h1 class="cover-heading">用户体验测试云服务系统</h1>
			<br></br>
			<br></br>
			  <div class="row">
			    <div class="col-md-4"></div>
				<div class="col-md-4">
				  <a href="../result" id="result"class="btn btn-lg btn-default">查看用户体验测试报告</a>
				</div>
			  </div>
			  <br></br>
			  <div class="row">
			    <div class="col-md-4"></div>
				<div class="col-md-4">
				  <a href="../adduserexperiencetest" id="addscript" class="btn btn-lg btn-default">增加用户体验测试脚本</a>
				</div>
			  </div>
			  <br></br>
			  <div class="row">
			    <div class="col-md-4"></div>
				<div class="col-md-4">
				  <a href="../createuserexperiencetesttask" id="start" class="btn btn-lg btn-default">开始用户体验测试</a>
				</div>
			  </div>			  
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
