{% load staticfiles %}
{% load my_filter %}
<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="author" content="zyl">
		<link rel="stylesheet" type="text/css" href="{% static 'master/css/bootstrap.min.css' %}"/> 
		<link rel="stylesheet" type="text/css" href="{% static 'master/css/bootstrap-theme.min.cs' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'master/css/pikaday.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'master/css/my.css' %}"/>
		
		<script src= "{% static 'master/js/jquery-1.11.3.min.js' %}"></script>
		<script src= "{% static 'master/js/bootstrap.min.js' %}"></script>
    </head>
    <body>
		<title>巡检计划</title>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container">
				<div id="navbar" class="navbar-collapse collapse">
				  <ul class="nav navbar-nav">
				    <li class="dropdown">
						<a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle">巡检计划 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/plans">巡检计划列表</a>
							</li>
							<li>
								<a href="/addplan">增加巡检计划</a>
							</li>							
						</ul>	
					</li>
				    <li class="dropdown">
						<a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle">巡检套件 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/testsuites">巡检套件列表</a>
							</li>
							<li>
								<a href="/addtestsuite">增加巡检套件</a>
							</li>							
						</ul>	
					</li>
				    <li class="dropdown">
						<a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle">巡检用例 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/testcases">巡检用例列表</a>
							</li>
							<li>
								<a href="/addtestcase">增加巡检用例</a>
							</li>							
						</ul>	
					</li>					
				  </ul>
				</div><!--/.nav-collapse -->
		    </div>
		</nav>
		<div class="first">
		</div>
		<div class="page-header">
			<h3>巡检计划列表</h3>
		</div>		
		<table class="table">
			<thead>
				<tr>
					<th>巡检人</th>
					<th>省份</th>
					<th>城市</th>
					<th>巡检套件</th>
					<th>巡检时间</th>
					<th>重复类型</th>
				</tr>
			</thead>  
			<tbody>
				{% for plan in plans %}
				<tr>
					<td>{{plan.task.executor}}</td>
					<td>{{plan.task.province}}</td>
					<td>{{plan.task.city}}</td>
					<td>
						<a href="{% url 'testsuitedetail' plan.task.test_suite.id %}">{{plan.task.test_suite.name}}</a>
					</td>
					<td>{{plan.exec_time|date:"H:i"}}</td>
					<td>{{plan.repeat_type|display_repeat_type}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
<!--		
		<ul class="pager">
			{% if plans.has_previous %}
			<li><button type="button" class="btn btn-primary btn-xs" id= "pre" title={{ reports.previous_page_number }}>上一页</button></li>
			{% endif %}
			<label>{{ plans.number }} / {{ plans.paginator.num_pages }} 页</label>
			{% if plans.has_next %}
			<li><button type="button" class="btn btn-primary btn-xs" id= "next" title={{ reports.next_page_number }}>下一页</button></li>    
			{% endif %}          
		</ul>
-->		
    </body>
</html>