<div class="page-header">
	<h3>电子商务平台</h3>
</div>
<div id="reportlist">
	<table class="table" >
		<thead>
			<tr>
                <th>浏览器</th>
				<th>功能点通过情况</th>
				<th>用户体验满意度</th>
                <th>报告明细</th>
			</tr>
		</thead>  
		<tbody>
		{% for general_report in general_report_list %}
			{% for detail_report in general_report.detail_report_list %}
			<tr>
				<td>{{detail_report.browser}}</td>
				<td>{{detail_report.pass_num}}</td>
				<td>{{detail_report.apdex}}</td>
				<td><a href={{detail_report.report_url}}>明细报告文件</a></td>
			</tr>
		 	{% endfor %}
		{% endfor %}
		</tbody>
    </table>
</div>
